
GameJam_052021/.vs/GameJam_052021/v16/Browse.VC.db
GameJam_052021/.vs/GameJam_052021/v16/Browse.VC.db-shm
GameJam_052021/.vs/GameJam_052021/v16/Browse.VC.db-wal
GameJam_052021/.vs/GameJam_052021/v16/Browse.VC.opendb
GameJam_052021/.vs/GameJam_052021/v16/Solution.VC.db
GameJam_052021/.vs/GameJam_052021/v16/Solution.VC.db-shm
GameJam_052021/.vs/GameJam_052021/v16/Solution.VC.db-wal
GameJam_052021/Binaries/Win64/UE4Editor-GameJam_052021.dll
GameJam_052021/Saved/Crashes/UE4CC-Windows-B3041E7E448602DF0EC26D8BBAE28628_0000/UE4Minidump.dmp
GameJam_052021/Saved/Logs/GameJam_052021_2.log
GameJam_052021/Saved/Logs/GameJam_052021_2.log
GameJam_052021/Saved/Logs/GameJam_052021_2.log
GameJam_052021/Saved/Config/WorldState/4013773415.json
GameJam_052021/Saved/Config/WorldState/3988729925.json
GameJam_052021/Saved/Config/Windows/EditorPerProjectUserSettings.ini
GameJam_052021/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
GameJam_052021/Intermediate/CachedAssetRegistry.bin
GameJam_052021/Saved/Logs/GameJam_052021_2.log
GameJam_052021/Saved/Config/Windows/EditorPerProjectUserSettings.ini
GameJam_052021/Intermediate/CachedAssetRegistry.bin
GameJam_052021/Saved/Logs/GameJam_052021_2.log
GameJam_052021/Saved/Config/Windows/EditorPerProjectUserSettings.ini
GameJam_052021/Intermediate/CachedAssetRegistry.bin
